@model IEnumerable<SameZeraIJedynka.Models.EventModel>

@{
    ViewData["Title"] = "Lista wydarzeń";
}

<h1>Lista wydarzeń</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Date"></label>
            </th>
            <th>
                <label asp-for="First().Organizer"></label>
            </th>
            <th>
                <label asp-for="First().Place"></label>
            </th>
            <th>
                <label asp-for="First().Price"></label>
            </th>
            <th>
                <label asp-for="First().Capacity"></label>
            </th>
            <th>
                <label asp-for="First().Target"></label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <partial name="_eventRow" , model="item" />
}
    </tbody>
</table>
