@model UserModel

@{
    ViewData["Title"] = "Moje dane";
}

<!-- ======= Intro Section ======= -->
<section>
    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                    <h2 class="title-a">Witaj @Model.Name !</h2>
                </div>
            </div>
        </div>
    </div> <!-- End Page Header -->
