@model SameZeraIJedynka.Models.UpdateUserViewModel
@{

}

<h1>View</h1>

<form method="post" action="View" class="mt-5">

    <div class="mb-3">
    <label for="" class="form-label">UserId</label>
    <input type="text" class="form-control" asp-for="UserId">
    </div>

    <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input type="text" class="form-control" asp-for="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <button type="subbmit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Employees">
        Delete
    </button>

</form>